<h2>新規登録</h2>

<%= form_with(model: resource, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%#= f.label :ユーザー名 , class: "form-label" %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control", placeholder: "ニックネームを入力"%>
  </div>

  <div class="mb-3">
    <%#= f.label :パスワード %>
    <!--<% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />-->
    <%= f.password_field :password, autocomplete: "new-password" , class: "form-control", placeholder: "パスワードを入力(6文字以上)"%>
  </div>

  <div class="mb-3">
    <%#= f.label :パスワード再入力%>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "form-control", placeholder: "パスワード再入力"%>
  </div>

  <button type="button" class="btn btn-primary">
    <%= f.submit "登録", class: "btn btn-primary" %>
  </button>
<% end %>

<%= render "devise/shared/links" %>
