<div class="wrapper">
    <div class="container flex-start">
        <div class="col-box-1">
            <h2>メモ一覧</h2>
        </div>

        <!--全削除ボタン-->
        <div class="col-box-1">
            <%= form_with url: destroy_all_memos_path, local: true, method: :delete do |f| %>
                <button type="button" class="btn btn-danger">
                    <%= f.submit "全削除", class: "btn" %>
                </button>
            <% end %>    
        </div>

        <% @memos.reverse.each do |song| %>
            <div class="col-box-3">
                <%= form_with model: song, url: memo_path(song.id), local: true, method: :patch do |f| %>
                    <div class="memo-header">
                        <%= f.text_field :タイトル, placeholder: "タイトル", class: "form-box" %>
                    </div>
                    <div class="memo-header">
                        <%= f.text_field :"A_NOTES", placeholder: "タイトル", class: "form-box" %>
                    </div>
                    <div class="memo-header">
                        <%= f.text_field :"A_CHORD", placeholder: "タイトル", class: "form-box" %>
                    </div>     
                    <div class="memo-header">
                        <%= f.text_field :"A_PEAK", placeholder: "タイトル", class: "form-box" %>
                    </div>     
                    <div class="memo-header">
                        <%= f.text_field :"A_CHARGE", placeholder: "タイトル", class: "form-box" %>
                    </div>          
                    <div class="memo-header">
                        <%= f.text_field :"A_SCRATCH", placeholder: "タイトル", class: "form-box" %>
                    </div>  
                    <div class="memo-header">
                        <%= f.text_field :"A_SOFLAN", placeholder: "タイトル", class: "form-box" %>
                    </div>                  
                <% end %>
            </div>
        <% end %>
    </div>
</div>