<div class="wrapper">
  <div class="container flex-start">
    
    <div class="col-box-1">
      <button type="button" class="btn btn-danger">
        <%= link_to '戻る', userpage_path(@resource), class: "btn" %>
      </button>   
    </div>

    <div class="col-box-1">
			<h4>↓ジャンルごとにソート↓</h4>
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <a href="<%= memos_path(sort: 'notes') %>" class="btn btn-outline-primary">NOTES</a>
        <a href="<%= memos_path(sort: 'chord') %>" class="btn btn-outline-primary">CHORD</a>
        <a href="<%= memos_path(sort: 'peak') %>" class="btn btn-outline-primary">PEAK</a>
        <a href="<%= memos_path(sort: 'charge') %>" class="btn btn-outline-primary">CHARGE</a>
        <a href="<%= memos_path(sort: 'scratch') %>" class="btn btn-outline-primary">SCRATCH</a>
        <a href="<%= memos_path(sort: 'soflan') %>" class="btn btn-outline-primary">SOF-LAN</a>
      </div>
    </div>
  
    <table class="table table-striped-columns">
      <thead>
      	<tr class="table table-dark table-striped">
  		  	<th>曲名</th>
					<th>難易度</th>
          <th>NOTES</th>
          <th>CHORD</th>
  			  <th>PEAK</th>
          <th>CHARGE</th>
          <th>SCRATCH</th>
          <th>SOFLAN</th>               
        </tr>
      </thead>
      <tbody>
        <% @memos.reverse.take(10).each do |song| %>
          <tr>
            <td class="table-warning"><%= song.title%></td>						
            <td class="table-warning"><%= song.difficulty&.to_s%></td>
            <td class="table-warning"><%= song.notes%></td>
            <td class="table-warning"><%= song.chord%></td>
            <td class="table-warning"><%= song.peak%></td>
            <td class="table-warning"><%= song.charge%></td>
            <td class="table-warning"><%= song.scratch%></td>
            <td class="table-warning"><%= song.soflan%></td>  
          </tr>       
        <% end %>

				<% @memos.reverse.drop(10).each do |song| %>
          <tr>
            <td><%= song.title%></td>						
            <td><%= song.difficulty%></td>
            <td><%= song.notes%></td>
            <td><%= song.chord%></td>
            <td><%= song.peak%></td>
            <td><%= song.charge%></td>
            <td><%= song.scratch%></td>
            <td><%= song.soflan%></td>  
          </tr>       
        <% end %>
      </tbody>
    </table>
  </div>
</div>