<% if user_signed_in? %>

<div class="wrapper">
  <div class="container flex-start">
    
    <div class="col-box-1">
      <button type="button" class="btn btn-primary">
        <%= link_to 'CSVアップロードページへ', userpage_path(@resource), class: "btn" %>
      </button>   
    </div>

    <div class="col-box-1">
			<h4>↓ジャンルごとにソート↓</h4>
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <a href="<%= notes_path %>" class="btn btn-outline-primary">NOTES</a>
        <a href="<%= chord_path %>" class="btn btn-outline-primary">CHORD</a>
        <a href="<%= peak_path %>" class="btn btn-outline-primary">PEAK</a>
        <a href="<%= charge_path %>" class="btn btn-outline-primary">CHARGE</a>
        <a href="<%= scratch_path %>" class="btn btn-outline-primary">SCRATCH</a>
        <a href="<%= soflan_path %>" class="btn btn-outline-primary">SOF-LAN</a>
      </div>
    </div>
    
    <% ave = 0 %>
    <% @memos.reverse.take(10).each do |song| %>
      <% ave += song.soflan %>
    <% end %>
    <%= image_tag 'SOFLAN.png', alt: 'Example Image', class: 'my-image', width: 120, height: 60 %>
    <h1><%= '%.2f' % ((ave*100).floor / 1000.0)%></h1>	

    <table class="table table-striped-columns">
      <thead>
      	<tr class="table table-dark table-striped">
  		  	<th>曲名</th>
					<th>難易度</th>          
          <th>レーダー値(SOFLAN)</th>
          <th>EXスコア</th>           
          <th>1点伸びた時の上昇値</th>               
        </tr>
      </thead>
      <tbody>
        <% @memos.reverse.take(10).each do |song| %>
          <tr>
            <td class="table-warning"><%= song.title%></td>						
            <td class="table-warning"><%= song.difficulty%></td>
            <td class="table-warning"><%= '%.2f' % song.soflan%></td>
            <td class="table-warning"><%= song.exscore%></td>            
            <td class="table-warning"><%= song.soflan_growth_rate.round(2)%></td>
          </tr>       
        <% end %>

				<% @memos.reverse.drop(10).each do |song| %>
          <tr>
            <td><%= song.title%></td>						
            <td><%= song.difficulty%></td>
            <td><%= '%.2f' % song.soflan%></td>
            <td><%= song.exscore%></td>
            <td><%= song.soflan_growth_rate.round(2)%></td>            
          </tr>       
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% else %>
	<div class="alert alert-danger" role="alert">
  <h2>サインインをしてください</h2>
  </div>
  <div class="container flex-start">
    <div class="col-box-1">
    <button type="button" class="btn btn-outline-primary">
      <%= link_to '新規登録', new_user_registration_path, method: :get , class: "btn"%>
    </button>
    <button type="button" class="btn btn-outline-primary">
      <%= link_to 'ログイン', new_user_session_path, method: :get , class: "btn"%>
    </button>
  </div>
<% end %>